# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Build files
dist/
build/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db
